<!DOCTYPE html>
<html lang="en">  <!-- changing lang -->
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
        <link href="../static/theme.min.css" rel="stylesheet">

        <link href="../static/main.css" rel="stylesheet">

        {% block styles %}
            <!-- Bootstrap CSS -->

        {% endblock %}

        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">

{% include 'includes/_navbar.html' %}

<main class="flex-shrink-0">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</main>


{% include 'includes/_footer.html' %}



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
{% block scripts %}
{% endblock %}
</body>
</html>