{% extends "base.html" %}
{% block title %}{{ _('Buy Ticket') }}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-1"> {{ halls['concert_name'] }} </h1>
        <div class="lead">{{ halls['hall']['hall_name'] }}, {{ halls['concert_date']|dt }}</div>

        <div class="row flex-lg-row align-items-center g-2">
            <div class="col">
                <div>
                    <div class="d-flex flex-column m-3 shadow"
                         style="height: 600px;">
                        <p class="text-center m-0 lead pt-2">{{ _('Scene') }}</p>
                        <svg width="100%" height="40" viewBox="0 5 60 20" xmlns="http://www.w3.org/2000/svg"
                             preserveAspectRatio="none">
                            <path d="M10 10 C 20 20, 40 20, 50 10" stroke="#777" stroke-width="1"
                                  fill="transparent"></path>
                        </svg>
                        {% for i, hall in enumrate(halls['hall_zone']) %}
                            <div class="p-2 bd-highlight flex-grow-1 d-flex align-items-center justify-content-center"
                                 style="background-color: {{ palette[i] }}">
                                <p class="p-1 px-2 rounded-pill bg-light">{{ hall['price'] }}
                                    {{ _('credits') }}: {{ hall['free_capacity'] }}/{{ hall['capacity'] }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <form class="col-lg-5" id="form" method="post">
                {% for hall in enumrate(halls['hall_zone']) %}
                    <div class="card mb-3 p-2 shadow">
                        <div class="row g-0">
                            <div class="col">
                                <div class="display-5">{{ _('Tickets for') }} {{ hall['price'] }}</div>
                                <hr>
                                <div class="input-group d-flex justify-content-end">
                                    <input type="number" id="num{{ hall['hall_zone_id'] }}" readonly class="read form-control" min="0"
                                           value="0" name="{{ hall['hall_zone_id'] }}"
                                           max="{{ hall['free_capacity'] }}">
                                    <button class="btn btn-outline-secondary minus" type="button">-</button>
                                    <button class="btn btn-outline-secondary" id="plus{{ hall['hall_zone_id'] }}" type="button">+
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="d-grid gap-2 mb-3">
                    <button class="btn btn-primary text-light" type="button" id="submit_btn">{{ _('Buy tickets') }}</button>
                </div>

            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('.minus').click(function () {
                var $input = $(this).parent().find('input');
                var count = parseInt($input.val()) - 1;
                count = count < 0 ? 0 : count;
                $input.val(count);
                $input.change();
                return false;
            });
            {% for hall in enumrate(halls['hall_zone']) %}
                $('#plus{{ hall['hall_zone_id'] }}').click(function () {
                    var $input = $(this).parent().find('input');
                    var count = parseInt($input.val()) + 1;
                    count = count > {{ i }} ? {{ i }} : count;
                    $input.val(count);

                    $input.change();
                    return false;
                });
            {% endfor %}

            $('#submit_btn').click(function () {
                var valid = false;
                {% for i in range(2) %}
                    if (parseInt($('#num{{ i }}').val()) > 0) {
                        valid = true;
                    }
                {% endfor %}

                if (valid) {
                    $("#form").submit();
                }
            });

        });
    </script>
{% endblock %}