{% extends "base.html" %}
{% block title %}{{ _('Confirmation') }}{% endblock %}

{% block content %}

    <div class="container mt-2">
        {% if success %}
            <div class="alert alert-success" role="alert">
                <div>
                    {{ _('Successfully added to calendar') }}
                </div>
                <div>
                    <a href="{{ url_for('concert_page', id=id) }}">{{ _('Return to Concert Page') }}</a>
                </div>
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <div>
                    {{ _('Failed to add event to calendar') }}
                </div>
                <div>
                    <a href="{{ url_for('concert_page', id=id) }}">{{ _('Return to Concert Page') }}</a>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}