{% extends "base.html" %}
{% block title %}{{ concert["concert_name"] }}{% endblock %}

{% block content %}
    <div>
        <div class="container col-xxl-8 px-2 py-2 bg-white">
            <div class="row flex-lg-row align-items-center g-0 pt-5 pb-1">
                <div class="col-10 col-sm-8 col-lg-4 mb-3 mx-auto px-4 py-4 d-flex justify-content-center">

                    <div class="ratio ratio-1x1">
                        <img class="card-img-top img-fluid img-cover" width="300" height="300"
                             src="{{ concert["concert_photo"] }}" alt="img">
                    </div>

                </div>
                <div class="col-lg-8">
                    <h1 class="display-5 lh-1 mb-3 ms-3">{{ concert["concert_name"] }}</h1>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row g-0 mt-2">
                    <div class="col-md-2 mt-2 px-2 d-flex flex-column">
                        <div class="py-4 bg-white">
                            <h5 class="">Place</h5>
                            <p class="">{{ concert["hall_id"] }}</p>
                            <h5 class="">Date</h5>
                            <p class="">{{ concert["concert_date"]|dt }}</p>
                            <p><a tabindex="0" class="btn btn-lg btn-primary text-light" role="button"
                                  data-bs-toggle="popover" data-bs-trigger="focus" title="Ticket"
                                  data-bs-content="You bought ticket!">Buy
                                tickets</a></p>
                        </div>
                    </div>
                    <div class="col-md-3 order-md-2 mt-2 px-2 d-flex flex-column">
                        <div class="py-4 bg-white">
                            <h1 class="display-5">
                                Artists
                            </h1>
                            {% for ar in concert["performances"] %}
                                <div class="d-flex my-2">
                                    <img class="bg-light rounded-circle img-cover text-white p-1" width="50" height="50"
                                         alt="avatar"
                                         src="{{ ar["artist_photo"] }}">
                                    <a class="text-dark my-auto ms-3"
                                       href="{{ url_for('artists_page', id=ar["artist_id"]) }}">{{ ar["artist_name"] }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md mt-2 px-2 d-flex flex-column">
                        <div class="py-4 mb-2 bg-white">

                            <h1 class="display-5">
                                Info
                            </h1>
                            <div>
                                {#                                <p class="text-wrap">#}
                                {#                                    {% for n in range(1000) %}#}
                                {#                                        a#}
                                {#                                    {% endfor %}#}
                                {#                                </p>#}
                            </div>
                        </div>

                        <div class="py-4 bg-white text-break">
                            <h1 class="display-5">
                                Reviews
                            </h1>
                            <div>
                                {% if true %}
                                    <div>
                                        <form class="g-0 mb-2">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <input id="input-id" value="4" type="text" class="rating"
                                                           data-theme="krajee-fas" data-min=0 data-max=5 data-size="sm"
                                                           required title="">
                                                </div>
                                                <div>
                                                    <button type="submit" class="btn btn-primary text-light">
                                                        Leave review
                                                    </button>
                                                </div>

                                            </div>
                                            <textarea class="form-control" id="formControlTextarea1"
                                                      rows="3"></textarea>
                                        </form>
                                    </div>
                                {% endif %}

                                <div>
                                    {% for i in range(5) %}
                                        <div class="my-3 px-2">
                                            <div class="d-flex mb-2">
                                                <img class="bg-light rounded-circle text-white p-1" width="40"
                                                     height="40"
                                                     alt="avatar"
                                                     src="https://raw.githubusercontent.com/twbs/icons/main/icons/person.svg">
                                                <span class="text-dark my-auto ms-3">User</span>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius
                                                sagittis massa non vulputate. In luctus arcu non tempor tincidunt. Cras
                                                ex urna, porttitor ut pulvinar vitae, commodo in nulla. Praesent commodo
                                                ipsum eu urna dictum, vitae varius turpis ultricies. Etiam a sagittis
                                                urna, nec fringilla quam. Aliquam iaculis massa sed placerat varius.
                                            </p>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>




{% endblock %}

{% block scripts %}

    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
        var popover = new bootstrap.Popover(document.querySelector('.popover-dismiss'), {
            trigger: 'focus'
        })

        $("#input-id").rating();
    </script>

{% endblock %}