{% extends "base.html" %}
{% block title %}{{ _('Contacts') }}{% endblock %}

{% block content %}
    <div class="container bg-white">
        <h1 class="ps-2 display-4">{{ _('Contacts') }}</h1>
        <hr>
        <div class="px-4 py-4">
            <p>
                {{ _('Bulavina Elizaveta') }}: <a href="mailto:bulavina.liza@yandex.ru" target="_blank">bulavina.liza@yandex.ru</a>
            </p>
            <p>
                {{ _('Petrov Yuri') }}: <a href="mailto:ya.claude2016@gmail.com" target="_blank">ya.claude2016@gmail.com</a>
            </p>
            <p>
                {{ _('Gorbushin Vladimir') }}: <a href="mailto:gorbushin.volodja@mail.ru" target="_blank">gorbushin.volodja@mail.ru</a>
            </p>
        </div>

    </div>
{% endblock %}