{% extends "base.html" %}
{% block title %}{{ _('Search') }}{% endblock %}

{% block content %}

    <div class="container mt-5">

        <div class="d-flex align-items-start">
            <div class="mt-5 nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
                <button class="nav-link active btn-lg" id="v-pills-concerts-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-concerts" type="button" role="tab" aria-controls="v-pills-concerts"
                        aria-selected="true">{{ _('Concerts') }}
                </button>
                <button class="nav-link btn-lg" id="v-pills-artists-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-artists" type="button" role="tab" aria-controls="v-pills-artists"
                        aria-selected="false">{{ _('Artists') }}
                </button>
            </div>
            <div class="d-flex flex-column flex-grow-1 ms-5">
                <div class="mb-3">
                    <h1 class="display-5">{{ _('Search for') }} "{{ request.args.get('search') }}"</h1>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-concerts" role="tabpanel"
                         aria-labelledby="v-pills-concerts-tab">
                        {% for c in concerts %}
                            <div class="card mb-3">
                                <div class="row g-0">
                                    {% if c["concert_photo"] %}
                                        <div class="col-md-3 transp">
                                            <img class="card-img-top img-fluid img-cover" role="img"
                                                 src="{{ c["concert_photo"] }}" alt="img">
                                        </div>
                                    {% endif %}
                                    <div class="col">
                                        <div class="card-body row">
                                            <h5 class="card-title display-5">{{ c["concert_name"] }}</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-md">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ _('Place') }}</h5>
                                                    <p class="card-text text-truncate">{{ c["hall"]['hall_name'] }}</p>
                                                </div>
                                            </div>
                                            <div class="col-md">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ _('Date') }}</h5>
                                                    <p class="card-text">{{ c["concert_date"]|dt }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="{{ url_for('concert_page', id=c["concert_id"]) }}"
                                           class="stretched-link text-decoration-none"></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="v-pills-artists" role="tabpanel"
                         aria-labelledby="v-pills-artists-tab">
                        {% for a in artists %}
                            <div class="card mb-3">
                                <div class="row g-0">
                                    {% if a["artist_photo"] %}
                                        <div class="col-3">
                                            <img class="card-img-top img-fluid img-cover" role="img"
                                                 src="{{ a["artist_photo"] }}" alt="img">
                                        </div>
                                    {% endif %}
                                    <div class="col align-self-center">
                                        <div class="card-body ">
                                            <h5 class="card-title display-5 text-truncate">{{ a["artist_name"] }}</h5>
                                        </div>
                                        <a href="{{ url_for('artists_page', id=a["artist_id"]) }}"
                                           class="stretched-link text-decoration-none"></a>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
