{% extends "base.html" %}
{% block title %}Settings{% endblock %}

{% block content %}
    <div>
        <div class="container col-xxl-8 px-2 py-2 bg-white">
            <div class="row flex-lg-row align-items-center g-0 py-5">
                <div class="col-10 col-sm-8 col-lg-4 mb-3 mx-auto px-4 py-4 d-flex justify-content-center">

                    {% if session['user_photo'] %}
                        <img class="bg-light rounded-circle d-block img-cover text-white p-1" width="300" height="300"
                             alt="avatar"
                             src="{{ session['user_photo'] }}">
                    {% else %}
                        <img class="bg-light rounded-circle d-block img-fluid text-white p-1" width="300" height="300"
                             alt="avatar"
                             src="https://raw.githubusercontent.com/twbs/icons/main/icons/person.svg">
                    {% endif %}
                </div>
                <div class="col-lg-8">
                    <h1 class="display-5 lh-1 mb-3 ms-3">{{ session['username'] }}</h1>
                </div>
            </div>

            <div class="container-fluid pb-3">
                <div class="d-flex align-items-start">
                    <div class="mt-2 nav ps-2 flex-column nav-pills me-3"
                         aria-orientation="vertical">
                        <a class="nav-link btn btn-lg remove-glow" href="{{ url_for('tickets_page') }}"
                           aria-selected="false">Tickets
                        </a>
                        <a class="nav-link btn btn-lg remove-glow" href="{{ url_for('favorites_page') }}"
                           aria-selected="false">Favorites
                        </a>
                        <a class="nav-link btn btn-lg active remove-glow" href="{{ url_for('settings_page') }}"
                           aria-selected="true">Settings
                        </a>
                    </div>
                    <div class="d-flex flex-column flex-grow-1 ms-5">
                        <div class="mb-3">
                            <h1 class="display-5">Spotify</h1> {# TODO #}
                            <div>
                                <a class="btn btn-lg btn-primary text-light rounded-pill">
                                    Connect to Spotify
                                    <img class="img-fluid " src="../static/spotify/Spotify_Icon_RGB_White.png"
                                         alt="spotify"
                                         height="37" width="37">
                                </a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <h1 class="display-5">Google Calendar</h1> {# TODO #}
                            <div>
                                <a class="btn btn-lg btn-primary text-light rounded-pill">
                                    Connect to Google Calendar
                                    <i class="bi bi-google"></i>
                                </a>
                            </div>
                        </div>

                        <div class="mb-3">
                            <h1 class="display-5">Change Avatar</h1>
                            <form method="post" enctype="multipart/form-data">
                                <div class="input-group">
                                    <input class="form-control remove-glow" type="file" name="img" id="formFile"
                                           accept=".png, .jpg, .jpeg" required>
                                    <button type="submit" name="image-change"
                                            class="btn btn-primary text-light remove-glow">Submit
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="mb-3">

                            <h1 class="display-5">Security</h1>
                            <form method="post">
                                <div class="mb-3">
                                    <label for="InputOldPassword" class="form-label">Old password</label>
                                    <input type="password" name="old_password" minlength="8"
                                           class="form-control remove-glow" id="InputOldPassword"
                                           required>
                                </div>
                                <div class="mb-3">
                                    <label for="InputNewPassword" class="form-label">New password</label>
                                    <input type="password" name="new_password" minlength="8"
                                           class="form-control remove-glow" id="InputNewPassword"
                                           required>
                                </div>
                                <button type="submit" name="password-change"
                                        class="btn btn-primary text-light remove-glow">Submit
                                </button>
                            </form>
                        </div>

                    </div>


                </div>
            </div>


        </div>

        <div class="toast-container position-fixed top-0 end-0 p-3">

            {% for m in messages %}
                <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true"
                     data-bs-autohide="false">
                    <div class="toast-header">
                        <strong class="me-auto">Message</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ m }}
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>




{% endblock %}


{% block scripts %}
    <script>
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl)
        })
    </script>

{% endblock %}