{% extends "base.html" %}
{% block title %}Settings{% endblock %}

{% block content %}

    <div class="container mt-2">
        {% if success %}
            <div class="alert alert-success" role="alert">
                <div>
                    Successfully changed password
                </div>
                <div>
                    <a href="{{ url_for('settings_page') }}">Return to Settings</a>
                </div>
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <div>
                    Failed to change password
                </div>
                <div>
                    <a href="{{ url_for('settings_page') }}">Return to Settings</a>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}