{% extends "base.html" %}
{% block title %}{{ _('My Tickets') }}{% endblock %}

{% block content %}

    <div class="container col-xxl-8 px-2 py-2 bg-white">
        <div class="row flex-lg-row align-items-center g-0 py-5">
            <div class="col-10 col-sm-8 col-lg-4 mb-3 mx-auto px-4 py-4 d-flex justify-content-center">
                {% if session['user_photo'] %}
                    <img class="bg-light rounded-circle d-block img-cover text-white p-1" width="300" height="300"
                         alt="avatar"
                         src="{{ session['user_photo'] }}">
                {% else %}
                    <img class="bg-light rounded-circle d-block img-fluid text-white p-1" width="300" height="300"
                         alt="avatar"
                         src="https://raw.githubusercontent.com/twbs/icons/main/icons/person.svg">
                {% endif %}
            </div>
            <div class="col-lg-8">
                <h1 class="display-5 lh-1 mb-3 ms-3">{{ session['username'] }}</h1>
            </div>
        </div>

        <div class="container-fluid">
            <div class="d-flex align-items-start">
                <div class="mt-2 nav ps-2 flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                     aria-orientation="vertical">
                    <a class="nav-link btn active remove-glow btn-lg" href="{{ url_for('tickets_page') }}"
                       aria-selected="true">{{ _('Tickets') }}
                    </a>
                    <a class="nav-link btn btn-lg remove-glow" href="{{ url_for('favorites_page') }}"
                       aria-selected="false">{{ _('Favorites') }}
                    </a>
                    <a class="nav-link btn btn-lg remove-glow" href="{{ url_for('settings_page') }}"
                       aria-selected="false">{{ _('Settings') }}
                    </a>
                </div>
                <div class="d-flex flex-column flex-grow-1 ms-5">

                    {% for tic in tickets %}
                        <div class="card mb-3 shadow-sm ">
                            <div class="card-body">
                                <h5 class="card-title display-5">{{ tic['concert_name'] }}</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><span class="h5">{{ _('Price') }}: </span> <span>{{ tic['price'] }}</span></li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md">
                                                <h5 class="card-title">{{ _('Place') }}</h5>
                                                <p class="card-text text-truncate">{{ tic['hall_name'] }}</p>
                                            </div>
                                            <div class="col-md">
                                                <h5 class="card-title">{{ _('Date') }}</h5>
                                                <p class="card-text">{{ tic['concert_date']|dt }}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                                <a href="{{ url_for('concert_page', id=tic['concert_id']) }}"
                                   class="stretched-link text-decoration-none"></a>
                            </div>

                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>

    </div>

{% endblock %}
