<footer class="footer navbar navbar-expand navbar-dark bg-dark mt-auto py-3">
    <div class="container-fluid">

        <span class="navbar-text me-auto">Copyright © 2021, All Right Reserved</span>

        <ul class="navbar-nav ms-auto">
            <li class="nav-item me-2">
                <a class="nav-link" aria-current="page" href="{{ url_for('about_page') }}">About Us</a>
            </li>
            <li class="nav-item me-2">
                <a class="nav-link" aria-current="page" href="{{ url_for('contacts_page') }}">Contacts</a>
            </li>
        </ul>
    </div>
</footer>