<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index_page') }}">
            <img src="/static/logo.png" alt="" width="80" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-start">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: black !important;" data-bs-toggle="dropdown"
                       aria-expanded="false" aria-current="page" href="#"><i
                            class="bi bi-geo-alt"></i>
                        {% if session['city'] == 2 %}
                            <u>Moscow</u>
                        {% elif session['city'] == 3 %}
                            <u>Saint Petersburg</u>
                        {% else %}
                            <u>Voronezh</u>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('change_city', id=1) }}">Voronezh</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('change_city', id=2) }}">Moscow</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('change_city', id=3) }}">Saint Petersburg</a></li>
                    </ul>
                </li>
            </ul>

            <form class="d-flex justify-content-center mb-2 mb-lg-0" action="{{ url_for('search_page') }}">
                <input class="form-control remove-glow  border-end-0 border border-dark rounded-pill rounded-end"
                       style="min-width: 350px;" name="search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn remove-glow btn-outline-dark border-start-0 rounded-pill rounded-start"
                        type="submit"><i class="bi bi-search"></i></button>
            </form>

            {% if session['logged_in'] %}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 justify-content-end">
                    <li class="nav-item me-2 mb-2 mb-lg-0 justify-content-start">
                        <a class="nav-link" style="color: black !important;" aria-current="page"
                           href="{{ url_for('tickets_page') }}"><u>My tickets</u></a>
                    </li>
                    <li class="nav-item me-2 mb-2 mb-lg-0 dropdown">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {% if session['user_photo'] %}
                                <img class="bg-light rounded-circle img-cover text-white p-1" width="40" height="40" alt="avatar"
                                     src="{{ session['user_photo'] }}">
                            {% else %}
                                <img class="bg-light rounded-circle text-white p-1" width="40" height="40" alt="avatar"
                                     src="https://raw.githubusercontent.com/twbs/icons/main/icons/person.svg">
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('favorites_page') }}">Favorites</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('settings_page') }}">Settings</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav nav-pills ms-auto mb-2 mb-lg-0 justify-content-end">
                    <li class="nav-item me-2 mb-2 mb-lg-0 text-center">
                        <a class="nav-link" style="color: black !important;" aria-current="page"
                           href="{{ url_for('login_page') }}">Login</a>
                    </li>
                    <li class="nav-item me-2 mb-2 mb-lg-0 text-center">
                        <a class="nav-link active" style="color: white !important;"
                           href="{{ url_for('registration_page') }}">Sign Up</a>
                    </li>
                </ul>
            {% endif %}


        </div>
    </div>
</nav>